<!-- templates/footer.html -->
<footer class="bg-success text-white py-5 mt-5"> <!-- Añadido mt-5 para agregar espacio superior -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h3 class="mb-4">Redes Sociales</h3>
                <a href="https://open.spotify.com/intl-es?" target="_blank" rel="noopener" class="btn btn-outline-dark me-2">Spotify</a>
                <a href="https://twitter.com/?lang=es" target="_blank" rel="noopener" class="btn btn-outline-dark me-2">Twitter</a>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener" class="btn btn-outline-dark">Instagram</a>
            </div>
            <div class="col-lg-6">
                <div class="text-center">
                    <h3 class="mb-4">Disfruta de lo que más te gusta</h3>
                    <p>Derechos reservados &copy; 2014-2023, Sarun Wongpatcharapakorn. Made in Thailand.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
