<!-- templates/footer.html -->
<footer class="bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center"> <!-- Aplicar la clase text-center aquí -->
                <h3 class="mb-4">Redes Sociales</h3>
                <a href="https://open.spotify.com/intl-es?" target="_blank" rel="noopener" class="btn btn-outline-success me-2">Spotify</a>
                <a href="https://twitter.com/?lang=es" target="_blank" rel="noopener" class="btn btn-outline-info me-2">X</a>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener" class="btn btn-outline-danger">Discord</a>
            </div>
            <div class="col-lg-6">
                <h3 class="mb-4">Disfruta de lo que mas te gusta</h3>
                <p>Derechos resevados{{user.username}}</p>
            </div>
        </div>
    </div>
</footer>
