{% extends '_base.html' %}
{% load static %}
{% comment %} {% load socialaccount %} {% endcomment %}

{% block contenido %}
{% comment %} {% providers_media_js %} {% endcomment %}

  
<div class = "home">
  <section>
    <section class="py-6 bg-gray-100">
      <div class="container">
       <div class="row">
          <div class="col-xl-8 mx-auto text-center mb-5">
            <h2>¡Bienvenido</h2>
            <p class="lead text-muted"></p>
          </div>
        </div> 
    
         <div class="row">
          <div class="col-md-6 d-flex align-items-md-stretch mb-4 mb-md-0">
            <div class="d-flex align-items-center text-white dark-overlay w-100 text-center py-6 py-md-0" style="background: center center url(https://www.linkinpark.com/sites/g/files/g2000015666/files/styles/merch_image_600_600/public/2019-04/20170216_152248_10272_969203.jpeg?itok=ZvOGa2Lm) no-repeat; background-size: cover;"><a class="tile-link" href="category.html"> </a>
              {% comment %} <div class="card-img-overlay w-100 overlay-content">
              <h2 class="display-2 fw-bold text-uppercase mb-0">Rock</h2> 
              </div> {% endcomment %}
              <h2 class="display-2 fw-bold text-uppercase mb-0">Rock</h2> 

    
            </div>
          </div>
          <div class="col-md-6">
            <div class="card border-0 text-white text-center mb-4 dark-overlay"> <img class="card-img" src="https://www.drdre.com/files/2023/02/3200x1800-compressed-1536x835.jpg" alt="Ladies"><a class="tile-link" href="category.html"> </a>
              <div class="card-img-overlay d-flex align-items-center">
                <div class="text-center w-100 overlay-content">
                  <h2 class="display-4 fw-bold text-uppercase text-center mb-0">Hip Hop</h2>
                </div>
              </div>
            </div>
    
           <div class="card border-0 text-white text-center mb-4 dark-overlay"> <img class="card-img" src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-14-pro-model-unselect-gallery-1-202209?wid=5120&hei=2880&fmt=p-jpg&qlt=80&.v=1660753619946" alt="Ladies"><a class="tile-link" href="category.html"> </a>
              <div class="card-img-overlay d-flex align-items-center">
                <div class="text-center w-100 overlay-content">
                  <h2 class="display-4 fw-bold text-uppercase text-center mb-0">Hip Hop</h2>
                </div>
              </div>
            </div>
    
            <div class="card border-0 text-white text-center  dark-overlay"> <img class="card-img" src="https://store.taylorswift.com/cdn/shop/files/L2BkajKd7PGZm4HNdOvA_600x.png?v=1684773869" alt="Accessories"><a class="tile-link" href="category.html"> </a>
              <div class="card-img-overlay d-flex align-items-center">
                <div class="text-center w-100 overlay-content">
                  <h2 class="display-4 fw-bold text-uppercase text-center mb-0">Pop</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>

  {% comment %} <div class="login-container bg-white text-dark">
    {% if user.is_authenticated %}
    <div class="welcome-message">
      <p>¡Bienvenido, {{ user.username }} 😃!</p>
      <nav></nav>
    </div>
    {% else %}

    <h2>Iniciar sesión con Google</h2>
    <a href="{% provider_login_url 'google' %}" class="google-btn">
      <img src="{% static 'google.png' %}" alt="Google Icon">
      Iniciar sesión con Google
    </a>

    {% endif %}
  </div> {% endcomment %}
{% endblock contenido %}
